.anchor_navbar{
    padding-right: 70%;
}
.items-navbar{
    color: white;
}

.my_car{
    background-color: #00000094;
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
}

.car2{
    background-color: #00000094;
    color: white;
}